html
  head
    title= title
  body
    h1= message

    <form method=”POST” action="#">
      <label htmlFor="movies">Film</label>  <input type="text" id="movies" name="name"/>
      <label htmlFor="movies">Sänd</label>  <input type="submit" value=>
    </form>