html
  head
    title= title
  body
    form(method="post" action="/express_PugView.js")
      label(for="movies") Film
      input(type="text" name="movies")
      button Sänd
    br
    ul
      each movieList in lista
        li= movieList