html
  head
    title= title
  body

    form(method="post" name="movieList" action="/")
      label(for="movies") Film
      input(type="text" name="movies")
      button Sänd

    br
    br
    lista=lista